.homepage-container {
    max-width: 100%;
    padding: 4rem 4rem;
    line-height: 1.4;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)),
    url('../assets/heroImageHomePage.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.main-content {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.text-column {
    flex: 1.5;
    color: #eee;
}
.page-header h1 {
    font-size: 35px;
    font-weight: bolder;
    color: #eeeeee;
    border-bottom: 2px solid #eee;
    padding-bottom: 1rem;
}

.realce-header {
    font-weight: 100;
}

.intro-section {
    padding-top: 30px;
    padding-bottom: 10px;
}

.intro-section p {
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: rgba(222, 222, 222, 0.89);
}

.scenarios-list li {
    padding-left: 10px;
    margin-left: 10px;
    font-size: 1.1rem;
    font-weight: 100;
}

.image-column {
    flex: 1;
    text-align: center;
}

.image-column img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
.scenarios-list{
    margin-bottom: 1.5rem;
}
.scenarios-list ul {
    list-style-type: disc;
    margin-left: 20px;
}

.scenarios-list li {
    margin-bottom: 0.5rem;
}

.alert-box {
    padding: 16px 20px;
    margin: 1.3rem 0;
    border-radius: 25px;
    border: 1px solid;
}

.alert-box.warning {
    background-color: rgba(0, 0, 0, 0.4);
    border-color: #A1A1A1;
    color: #f4f4f4;
}

.alert-box.info {
    background-color: rgba(255, 255, 255, 0.02);
    border-color: #A1A1A1;
    color: #f4f4f4;
}

.cta-section {
    text-align: left;
    margin-top: 2rem;
}

.cta-button {
    background-color: #841529;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.cta-button:hover {
    background-color: #F80344;
}


@media (max-width: 768px) {
    .main-content {
        flex-direction: column-reverse;
    }

    .cta-section {
        text-align: center;
    }
}